// loading configuration
//@use '../../configuration/generic';
@use '../../configuration/themes' as *;

// loading components
@use '../../../../../../../vendor/ecocomposer/ecocomposer/bundles/Ecocomposer/frontend/resources/scss/components/flexContainer/flexContainer';
@use '../../../../../../../vendor/ecocomposer/ecocomposer/bundles/Ecocomposer/frontend/resources/scss/components/font/font';
@use '../../../../../../../vendor/ecocomposer/ecocomposer/bundles/Ecocomposer/frontend/resources/scss/components/labelAndField/labelAndField';
@use '../../../../../../../vendor/ecocomposer/ecocomposer/bundles/Ecocomposer/frontend/resources/scss/components/styledButtons/ripple';
@use '../../../../../../../vendor/ecocomposer/ecocomposer/bundles/Ecocomposer/frontend/resources/scss/components/theming/theming';

// configuring components
@include theming.init-themes($themes);
@include flexContainer.create(
  (
    'align-items-center' : true,
    'direction-column' : true,
    'height' : null,
    'justify-content-center' : true
  )
);
@include flexContainer.create(
  (
    'align-items-center' : true,
    'direction-column' : true,
    'height' : null,
    'justify-content-center' : true,
    'suffix' : '-2',
    'width' : auto
  )
);
@include font.create(
  (
    'icons' : ('bust-in-silhouette', 'key')
  )
);
@include labelAndField.create(
  ('label-width' : 18rem)
);
@include ripple.create(
  (
    //'themes' : $themes,
    'border-radius' : 5px
  )
);

$font : 'Arial', serif;

:root {
  font-size : 10px;
}

html,
body {
  height  : 100%;
  width   : 100%;
  margin  : 0;
  padding : 0;
}

body {
  background-color: #eee;
}

.login-box {
  border-radius : 1rem;
  box-shadow    : 2rem 2rem 60px #ccc, -2rem -2rem 6rem #eee;
  padding       : 2rem;
}

.otra-login--title {
  // margins
  margin-bottom : 3rem;

  // text
  color       : #fff;
  filter      : drop-shadow(.2rem .2rem .3rem #aaa);
  font-family : $font;
  text-shadow : 0 0 .3rem #aaa;
}

.login-box--submit {
  display    : flex;
  align-self : flex-end;
}

.login-box--label,
.login-box--submit {
  font-family : $font;
  font-size   : 1.6rem;
}

.field-group--remember {
  display    : flex;
  align-self : flex-start;
}

@include theming.global-mass-theme();
