///
/// @group Login
/// @since 1.0
/// @author Lionel Péramo
///

// loading SASS modules
@use 'sass:string' as *;
@use 'sass:map';

// loading EcoComposer components
@use 'scss/components/theming/theming';

$-defaults : (
  'login-form--background-color' : 'login-form--background-color',
  'login-form--box-shadow' : 'login-form--box-shadow',
  'login-form--color' : 'login-form--color',
  'login-form--error-message--color' : 'login-form--error-message--color',
  'login-form--title-color' : 'login-form--title-color',
  'main--background-color' : 'main--background-color',
  'main-style' : true,
  'position' : 'horizontal',
  'suffix' : '',
  'themes' : (
    'light': (
      'default--login-form--background-color' : #eee,
      'default--login-form--box-shadow' :
        '2rem * theming.$font-size 2rem * theming.$font-size 6rem * theming.$font-size #ccc, -2rem * theming.$font-size -2rem * theming.$font-size 6rem * theming.$font-size #eee',
      'default--login-form--color' : #333,
      'default--login-form--error-message--color' : #e33,
      'default--login-form--title-color' : #fff,
      'default--main--background-color' : #f0f0f0
    ),
    'dark': (
      'default--login-form--background-color' : #333,
      'default--login-form--box-shadow' :
        '2rem * theming.$font-size 2rem * theming.$font-size 6rem * theming.$font-size #000000b3, -2rem * theming.$font-size -2rem * theming.$font-size 6rem * theming.$font-size #3a3a3ab3',
      'default--login-form--color' : #eee,
      'default--login-form--error-message--color' : #e33,
      'default--login-form--title-color' : #fff,
      'default--main--background-color' : #222
    )
  )
);

///
/// Main mixin that initializes the login page component.
///
/// @access public
///
@mixin init() {
  .login-box {
    border-radius : 1rem * theming.$font-size;
    padding       : 2rem * theming.$font-size;

    &--submit {
      display    : flex;
      align-self : flex-end;
    }

    @at-root .otra-login--title {
      // margins
      margin-bottom : 3rem * theming.$font-size;

      // text
      text-align : center;
    }
  }

  .field-group {
    display        : flex;
  }

  .field-group--remember {
    align-self : flex-start;

    @at-root .otra-remember--checkbox {
      margin-left : 0;
    }
  }
}

///
/// Main mixin that creates login pages.
///
/// @access public
/// @param  {array} $-options ()
///
@mixin create($-options : ()) {
  $-themeUsed: map.has-key($-options, 'themes');
  $-options : map.merge($-defaults, $-options);

  // extracting variables...
  // themes variables
  $-login-form--background-color : map.get($-options, 'login-form--background-color');
  $-login-form--box-shadow : map.get($-options, 'login-form--box-shadow');
  $-login-form--color : map.get($-options, 'login-form--color');
  $-login-form--title-color : map.get($-options, 'login-form--title-color');
  $-login-form--error-message--color : map.get($-options, 'login-form--error-message--color');
  $-main--background-color : map.get($-options, 'main--background-color');
  $-position : map.get($-options, 'position');
  $-font : unquote(map.get($-options, 'themes', 'font'));

  // classic variables
  $-main-style : map.get($-options, 'main-style');
  $-suffix     : map.get($-options, 'suffix');

  @if ($-main-style) {
    html,
    body {
      padding    : 0;
      width      : 100%;
    }

    html[data-page='login-page']
    {
      &,
      & > body {
        margin     : 0;
        min-height : 100vh;
      }

      & > body {
        @include theming.to-theme((#{&} : ('background-color', 'main--background-color')));
      }
    }
  }

  .login-box {
    @if ($-login-form--background-color != null) {
      @include theming.to-theme((#{&} : ('background-color', $-login-form--background-color)));
    }

    @if ($-login-form--box-shadow != null) {
      @include theming.to-theme((#{&} : ('box-shadow', $-login-form--box-shadow)));
    }

    &--label {
      @if ($-login-form--color != null) {
        @include theming.to-theme((#{&} : ('color', $-login-form--color)));

        margin-bottom : 1rem * theming.$font-size;
      }
    }
  }

  .otra-login--title {
    // text
    @if ($-login-form--title-color != null)
    {
      @include theming.to-theme((#{&} : ('color', $-login-form--title-color)));
    }

    filter      : drop-shadow(.2rem * theming.$font-size .2rem * theming.$font-size .3rem * theming.$font-size #aaa);
    font-family : $-font;
    text-shadow : 0 0 .3rem * theming.$font-size #aaa;
  }

  .login-box--label,
  .login-box--submit,
  .error-message {
    font-family : $-font;
    font-size   : 1.6rem * theming.$font-size;
  }

  @if ($-position == 'vertical') {
    .field-group:not(.field-group--remember) {
      flex-direction : column;
    }
  }

  .field-group--remember {
    @if ($-position != 'horizontal') {
      flex-direction : row;

      & > .login-box--label {
        margin-left   : .5rem * theming.$font-size;

        &:not(.error-message--hidden) {
          margin-bottom : initial;
        }
      }
    }
  }

  .error-message {
    @if ($-login-form--error-message--color != null) {
      @include theming.to-theme((#{&} : ('color', $-login-form--error-message--color)));
    }

    &--hidden {
      margin-bottom : 0;
      visibility    : hidden;
    }
  }
}
